// ==========================================================================
// Flex Layouts
// ==========================================================================

.flex {
  display: flex;
  &-row {
    @extend .flex;
    flex-flow: row wrap;
  }
  &-center{
    @extend .flex;
    align-items: center;
  }
}