/* Coolors Exported Palette - coolors.co/e7571e-008184-63c1c3-37669c-e59f71 */

$color1: #e7571e; //rgba(231, 87, 30, 100)
$color2: #008184; //rgba(0, 129, 132, 100)
$color3: #63c1c3; //rgba(99, 193, 195, 100)
$color4: #37669c; //rgba(55, 102, 156, 100)
$color5: #e59f71; //rgba(229, 159, 113, 100)