// ==========================================================================
// Icomoon Typography
// ==========================================================================

%icomoon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @extend %icomoon;
}

.icon-dots-two-vertical:before {
  content: "\e600";
}

.icon-dots-two-horizontal:before {
  content: "\e602";
}

.icon-dots-three-vertical:before {
  content: "\e603";
}

.icon-dots-three-horizontal:before {
  content: "\e604";
}

.icon-dot-single:before {
  content: "\e605";
}

.icon-pencil:before {
  content: "\e802";
}

.icon-envelope:before {
  content: "\e818";
}

.icon-paperclip:before {
  content: "\e819";
}

.icon-eye:before {
  content: "\e81b";
}

.icon-graduation-hat:before {
  content: "\e821";
}

.icon-license:before {
  content: "\e822";
}

.icon-pushpin:before {
  content: "\e832";
}

.icon-calendar-full:before {
  content: "\e836";
}

.icon-keyboard:before {
  content: "\e837";
}

.icon-screen:before {
  content: "\e839";
}

.icon-laptop:before {
  content: "\e83c";
}

.icon-rocket:before {
  content: "\e84b";
}

.icon-rocket--down {
  &:before {
    @extend .icon-rocket:before;
  }
  display: inline-block;
  transform: rotate(90deg);
}

.icon-briefcase:before {
  content: "\e84c";
}

.icon-select:before {
  content: "\e852";
}

.icon-clock:before {
  content: "\e864";
}

.icon-enter-down:before {
  content: "\e867";
}

.icon-exit-up:before {
  content: "\e868";
}

.icon-code:before {
  content: "\e86a";
}

.icon-link:before {
  content: "\e86b";
}

.icon-magnifier:before {
  content: "\e86f";
}

.icon-cross:before {
  content: "\e870";
}

.icon-menu:before {
  content: "\e871";
}

.icon-list:before {
  content: "\e872";
}

.icon-chevron-up:before {
  content: "\e873";
}

.icon-chevron-down:before {
  content: "\e874";
}

.icon-chevron-left:before {
  content: "\e875";
}

.icon-chevron-right:before {
  content: "\e876";
}

.icon-arrow-up:before {
  content: "\e877";
}

.icon-arrow-down:before {
  content: "\e878";
}

.icon-arrow-left:before {
  content: "\e879";
}

.icon-arrow-right:before {
  content: "\e87a";
}

.icon-move:before {
  content: "\e87b";
}

.icon-question-circle:before {
  content: "\e87d";
}

.icon-menu-circle:before {
  content: "\e87e";
}

.icon-checkmark-circle:before {
  content: "\e87f";
}

.icon-cross-circle:before {
  content: "\e880";
}

.icon-plus-circle:before {
  content: "\e881";
}

.icon-circle-minus:before {
  content: "\e882";
}

.icon-book:before {
  content: "\e601";
}

.icon-video:before {
  content: "\e011";
}

.icon-linegraph:before {
  content: "\e039";
}

.icon-profile-male:before {
  content: "\e040";
}

.icon-profile-female:before {
  content: "\e041";
}

.icon-clock2:before {
  content: "\e055";
}

.icon-facebook:before {
  content: "\e05d";
}

.icon-linkedin:before {
  content: "\e062";
}

.icon-youtube:before {
  content: "\e000";
}

.icon-sort-amount-asc:before {
  content: "\e001";
}

.icon-sort-amount-desc:before {
  content: "\e002";
}

.icon-coins:before {
  content: "\e003";
}

.icon-trippledown:before {
  content: "\e004";
}

.icon-trippleup:before {
  content: "\e005";
}

.icon-bookshelf:before {
  content: "\e006";
}

.icon-brain:before {
  content: "\e007";
}

.icon-sir:before {
  content: "\e008";
}

.icon-codereview:before {
  content: "\e009";
}

.icon-homecode:before {
  content: "\e010";
}

.icon-terminal:before {
  content: "\e012";
}

.icon-friends:before {
  content: "\e013";
}

.icon-team:before {
  content: "\e014";
}

.icon-cake:before {
  content: "\e015";
}

.icon-webcamper:before {
  content: "\e016";
}

.icon-webcamp:before {
  content: "\e00a";
}

.icon-social-github-circular:before {
  content: "\e900";
}

.icon-social-skype-outline:before {
  content: "\e901";
}

.icon-google-hangouts:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e017";
}

.icon-place:before {
  content: "\e018";
}

.icon-iphone:before {
  content: "\e019";
}

.icon-flypaper:before {
  content: "\e020";
}

.icon-star:before {
  content: "\e021";
}

.icon-jsfiddle:before {
  content: "\e100";
}