// ==========================================================================
// Contacts Modules
// ==========================================================================

.contacts{
  &__icons{
    margin-right: 5px;
  }

}
#map { height: 500px; }
.map__link{
  @extend .text-s;
  @extend .text--accent;
  text-decoration: underline;
}