%nav-a {
  font-weight: $font-weight--thin;
  a {
    color: palette(grey, 'x-light');
    font-weight: $font-weight--thin;
  }
}

.nav-list {
  %nav-item-on {
    border-bottom-color: $color-primary;
  }
  &.active{
    display: block;
  }
  @extend .list-inline;
  @extend %nav-a;
  &__item {
    border-bottom: 2px solid transparent;
    &:not(:last-child) {
      margin-right: 10px;
    }

    &--active {
      @extend .nav-list__item;
      @extend %nav-item-on;
    }

    &:hover {
      @extend %nav-item-on;
    }
  }
}

.nav-contacts {
  color: palette(grey, 'x-light');
  @extend .list-inline;
  @extend %nav-a;
  padding-top: 8px;
  &__phone {
    padding-right: 10px;
  }
  &__skype {
    padding-left: 10px;
    @include p-el(before, $el-h: 100%) {
      top: 0;
      left: 0;
      border-left: 1px solid $color-primary;
    }
  }
}

.nav-toggler {
  width: 40px;
  height: 45px;
  cursor: pointer;
  //border: 1px solid;
  &:hover{
    background: transparentize($grey, 0.8);
  }
  &__icon {
    position: relative;
    width: 20px;
    height: 16px;
    margin: auto;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #fefefe;
      top: 0;
      left: 0;
      box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
    }
  }
}

@media #{$small-up} {
}

@media #{$small-only} {
  .nav-list {
    &__item {
      display: block !important;
      text-align: center;
      border-top: 1px solid transparentize($grey, 0.8);
      padding: 5px 0;
    }
  }
  .nav-enroll{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .btn-enroll{
      padding-right: 0;
      padding-left: 4px;
    }
  }

}

@media #{$medium-up} {
}

@media #{$large-up} {

}

@media #{$nav-up} {
  .nav-toggler {
    display: none;
  }
}

@media #{$nav-media} {
  .nav-contacts__skype {
    display: none !important;
  }
  .nav-list {
    display: none;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-toggler {
  }
}